
#form_container
{
	padding:15px 15px;
	margin-top:15px;	
	color:#fff;
}
body
{
	background-color: #000;
	background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80);
	background-size: cover;
	background-repeat:no-repeat;

}
.upload-btn-wrapper 
{
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] 
{
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

